body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Opzionale, solo se vuoi stili personalizzati oltre a Tailwind CSS */
/* .controlsContainer {
    } */

/* .previewContainer {
} */

#fontList li {
    padding: 0.5rem;
    cursor: pointer;
}
#fontList li:hover {
    background-color: #f0f0f0;
}

